@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');

$primary-clr: #171719;
$secondary-clr: #E6E6E8;
$white-clr: #fff;
$black-clr: #000;
$link-active-clr: rgba($black-clr, .8);
$link-disable-clr: rgba($black-clr, .1);
$menu-clr-1: #356a94 ;
$menu-clr-3: #a9cde5 ;
$menu-clr-4: #f5a781 ;
$menu-clr-5: #667b09 ;
$menu-clr-2: #d81147 ;
$menu-clr-6: #e39800 ;

$transition: all 1s;
$rotate: rotate(360deg);
$shadow: 0 3px 6px #00000033;

$font-head:  'Pacifico', cursive;
$font-body: 'Roboto', sans-serif;





